/* Universal */
*{
    margin: 0;
    padding: 0;
}

/* Common styles */
.primary_title{
    color: #0E0E0E;
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;

}
section{
    margin: 80px 0;
}

/* Body design */
body{
    background: #F1F1F3;
}
/* Header design */
header{
    width: 1280px;
    margin-right: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
nav button{
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    border: 1px solid #006a50;
    margin: 24px 0;
}
header .banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 0;
}
header .banner_left{
    width: 622px;
}
header .banner_left p{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}
header .banner_left h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    margin-top: 16px;
    margin-bottom: 24px;
}
header .banner_left button{
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 17px 34px;
}

/* Pillar section design */

#pillar_section{
    width: 1280px;
}
#pillar_section .pillars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-top: 32px;
}
#pillar_section .pillar{
    width: 302px;
    padding: 24px;
    background: #ffffff;
    border: 1px solid #0e0e0e26;
    border-radius: 16px;


}
#pillar_section .pillar h6{
    color: #0e0e0ecc;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 25px;
    margin-bottom: 12px;
}
#pillar_section .pillar p{
    color: #0e0e0eb3;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}