/* Universal */
*{
    margin: 0;
    padding: 0;
}

/* Common styles */
.primary_title{
    color: #0E0E0E;
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;

}
.primary_text{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* Body design */
body{
    background: #F1F1F3;
}
/* Header design */
header{
    width: 1280px;
    margin: 0 auto;
}
nav{
    /* width: 1280px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
nav button{
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    border: 1px solid #006a50;
    margin: 24px 0;
}
header .banner{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 0;
}
header .banner_left{
    width: 622px;
}
header .banner_left p{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}
header .banner_left h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    margin-top: 16px;
    margin-bottom: 24px;
}
header .banner_left button{
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background: #006a50;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 17px 34px;
    border: 1px solid #006a50;
    cursor: pointer;
}
header .banner_left button:hover{
    color: #006a50;
    background: rgba(0, 0, 0, 0);
}

/* Pillar section design */

#pillar_section{
    width: 1280px;
    margin: 80px auto;
}
#pillar_section .pillars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-top: 32px;
}
#pillar_section .pillar{
    width: 302px;
    padding: 24px;
    background: #ffffff;
    border: 1px solid #0e0e0e26;
    border-radius: 16px;
}
#pillar_section .pillar h6{
    color: #0e0e0ecc;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 25px;
    margin-bottom: 12px;
}
#pillar_section .pillar p{
    color: #0e0e0eb3;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* Future vision Section */

#future_vision{
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 80px;
}
#future_vision > p{
    margin-top: 24px;
    margin-bottom: 32px;
}
#future_vision .visions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
#future_vision .vision{
    padding: 32px;
}
#future_vision .vision h6{
    margin-top: 28px;
    color: #0e0e0ecc;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
#future_vision .vision p{
    margin-top: 12px;
    margin-bottom: 24px;
}
#future_vision .vision button{
    border-radius: 8px;
    background: #5490f5;
    padding: 11px 20px;
    border: 1px solid #5490f5;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
}
#future_vision .vis1{
    background: #5490f533;
    border-radius: 16px;
}
#future_vision .vis2{
    border-radius: 16px;
    background: #c6e4d6;
}
#future_vision .vis3{
    border-radius: 16px;
    background: #f7ebcf;
}
#future_vision .visions .vis1_btn:hover{
    color: #5490F5;
    background-color: #548ff500;
    border: 1px solid #5490F5;
}
#future_vision .visions .vis2_btn{
    background: #09a15c;
    border: 1px solid #09a15c;
}
#future_vision .visions .vis2_btn:hover{
    color: #09a15c;
    background-color: #548ff500;
    border: 1px solid #09a15c;
}
#future_vision .visions .vis3_btn{
    background: #FFC239;
    border: 1px solid #FFC239;
}
#future_vision .visions .vis3_btn:hover{
    color: #FFC239;
    background-color: #548ff500;
    border: 1px solid #FFC239;
}
#future_vision .yunus_sir_quote p{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#future_vision .yunus_sir_quote{
    background: url(../assets/quote-bg.png), #ffffff;
    background-size: 54px;
    background-repeat: no-repeat;
    background-position: 25px 28px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 48px 24px;
    margin-top: 32px;
}
#future_vision .yunus_sir_quote h5{
    color: #0e0e0ecc;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 4px;
}
#future_vision .yunus_sir_quote h6{
    color: #0e0e0e99;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* Opinion section design */

#opinion_section{
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 80px;
}
#opinion_section .opinion_container{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    margin-top: 24px;
}
#opinion_section .opinion_child_container{
    width: 1216px;
}
#opinion_section .opinion_title{
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
}
#opinion_section .opinion_title_element_container{
    display: flex;
    justify-content: space-between;
}
#opinion_section .opinion_title_element_container p{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
#opinion_section .opinion_body_element_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#opinion_section .opinion_body_element_container .left{
    width: 998px;
    padding: 33px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-top: none;
}
#opinion_section .opinion_body_element_container .left p{
    color: #0e0e0e;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
#opinion_section .opinion_body_element_container .right{
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-top: none;
    border-left: none;
}
#opinion_section .opinion_body_element_container .right button{
    padding: 10px 14px;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgba(9, 161, 92, 0.15);
}

/* News section */

#news_section{
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 80px;
}
#news_section > p{
    margin-top: 24px;
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#news_section .child_element_container{
    display: flex;
    gap: 32px;
    padding: 48px;
    background: #FFFFFF;
    border-radius: 24px;
    align-items: center;
    margin-bottom: 24px;
}
#news_section .row_reverse{
    flex-direction: row-reverse;
}
#news_section .left img{
    border-radius: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}
#news_section .right h4{
    color: #0e0e0ecc;
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}
#news_section .right h6{
    color: #0e0e0eb3;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#news_section .right h6 span{
    margin-right: 12px;
}
#news_section .right p{
    color: #0e0e0eb3;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 32px;
}
#news_section .right button{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 8px;
    background: #006a50;
    border: 1px solid #006a50;
    padding: 13px 26px;
    cursor: pointer;
}
#news_section .right button:hover{
    background: #ffffff00;
    color: #006a50;
}

/* Donate Section Design */

#donate_section{
    width: 1280px;
    margin: 0px auto;
    margin-bottom: 80px;
    text-align: center;
}
#donate_section .donate_main_container > p{
    color: #0e0e0eb3;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0px 88px;
    margin-top: 24px;
    margin-bottom: 32px;
}
#donate_section .donate_main_container > button{
    color: #ffffff;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: 1px solid #0d0d0d1a;
    border-radius: 8px;
    background: #006a50;
    padding: 17px 34px;
    cursor: pointer;
}
#donate_section .donate_main_container > button:hover{
    color: #006a50;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #006a50;
}
#donate_section .taka_container{
    width: 1071px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 24px;
}
#donate_section .taka_container .taka{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
}
#donate_section .taka_container .taka p{
    color: #0e0e0ecc;
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
#donate_section input[type="text"]{
    width: 952px;
    margin: 32px 0;
    padding: 23px 40px;
    border: none;
    border-bottom: 1px solid #0e0e0e26;
    background: #ffffff;
    display: inline-block;
}
#donate_section ::placeholder{
    text-align: center;
    color: #0e0e0e4d;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

/* Subscribe section design */

#subscribe_section{
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
    background: #C6E4D6;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 24px;
}
#subscribe_section p{
    width: 622px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
#subscribe_section .subscribe_btn{
    color: #ffffff;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 17px 34px;
    background: #006A50;
    border-radius: 0px 8px 8px 0px;
    border: none;
    cursor: pointer;
}
#subscribe_section input[type="email"]{
    width: 600px;
    border: none;
    background: #FFFFFF;
    padding-top: 22px;
    padding-bottom: 19px;
    border-radius: 8px 0px 0px 8px;
    margin-bottom: 25px;
}
#subscribe_section input[type="email"]::placeholder{
    color: #0e0e0e4d;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-left: 40px;
    border: none;
}
#subscribe_section h6{
    color: #0e0e0eb3;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
